$color: #b21f66;

#search {
  .has-addons {
    margin-bottom: 1.25rem;
  }
}

.area {
  display: inline-flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 0 2rem;
  background-color: $color;

  > .columns {
    width: 100%;
    margin: auto 0;
  } 
}

body.fs .area {
  top: 0;
}

.fakeboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  filter: brightness(75%);
  transform: translate(-10%, -10%) rotate(15deg) skew(-5deg);
  width: 300vw;
  .board-b72b1 {
    width: 200vw;
    height: 200vw;
  }
}


@media screen and (min-width: 1240px) {
  .fakeboard {
    transform: translate(0%, -10%) rotate(15deg) skew(-5deg);
  }
}

.pieces {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  li {
    display: block;
    position: absolute;
    list-style: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &.white {
      top: -160px;
      animation: sink 25s linear infinite;
    }

    &.black {
      bottom: -160px;
      animation: emerge 25s linear infinite;
    }

    &:nth-child(1){
      left: 25%;
      width: 140px;
      height: 140px;
      background-image: url('/static/img/chesspieces/classic/wK.png');
      animation-delay: 5s;
    }

    &:nth-child(2){
      left: 10%;
      width: 180px;
      height: 180px;
      background-image: url('/static/img/chesspieces/classic/wQ.png');
      animation-delay: 1s;
      animation-duration: 12s;
    }

    &:nth-child(3){
      left: 70%;
      width: 90px;
      height: 90px;
      background-image: url('/static/img/chesspieces/classic/wR.png');
      animation-delay: 7s;
    }

    &:nth-child(4){
      left: 40%;
      width: 100px;
      height: 100px;
      background-image: url('/static/img/chesspieces/classic/wB.png');
      animation-delay: 15s;
      animation-duration: 18s;
    }

    &:nth-child(5){
      left: 65%;
      width: 80px;
      height: 80px;
      background-image: url('/static/img/chesspieces/classic/wN.png');
      animation-delay: 11s;
    }

    &:nth-child(6){
      left: 75%;
      width: 110px;
      height: 110px;
      background-image: url('/static/img/chesspieces/classic/wP.png');
      animation-delay: 12s;
    }

    &:nth-child(7){
      left: 35%;
      width: 140px;
      height: 140px;
      background-image: url('/static/img/chesspieces/classic/bK.png');
      animation-delay: 2s;
    }

    &:nth-child(8){
      left: 50%;
      width: 100px;
      height: 100px;
      background-image: url('/static/img/chesspieces/classic/bQ.png');
      animation-delay: 10s;
      animation-duration: 45s;
    }

    &:nth-child(9){
      left: 20%;
      width: 90px;
      height: 90px;
      background-image: url('/static/img/chesspieces/classic/bR.png');
      animation-delay: 6s;
      animation-duration: 35s;
    }

    &:nth-child(10){
      left: 85%;
      width: 150px;
      height: 150px;
      background-image: url('/static/img/chesspieces/classic/bB.png');
      animation-delay: 3s;
      animation-duration: 11s;
    }

    &:nth-child(11){
      left: 15%;
      width: 80px;
      height: 80px;
      background-image: url('/static/img/chesspieces/classic/bN.png');
      animation-delay: 8s;
      animation-duration: 11s;
    }

    &:nth-child(12){
      left: 50%;
      width: 160px;
      height: 160px;
      background-image: url('/static/img/chesspieces/classic/bP.png');
      animation-delay: 4s;
      animation-duration: 11s;
    }
  }
}

@keyframes emerge {
  0%{
    transform: translateY(0) rotate(0deg);
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
  }
}

@keyframes sink {
  0%{
    transform: translateY(0) rotate(720deg);
  }

  100%{
    transform: translateY(1000px) rotate(0deg);
  }
}