$menubg: #777;

html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: #edebe9;
}

html.dark-mode {
  filter: invert(100%);
}

html.dark-mode .preservefilter {
  filter: invert(100%);
}

body > div {
  padding-top: 60px;
  height: 100%;
}

body.fs > div {
  padding-top: 0;
}

body.fs .menu {
  background-color: transparent;
}

hr {
  margin-bottom: 0.75rem;
  height: 1px;
  background-color: #d1d1d1;
}

label {
  padding-left: 0.25rem;
}

* { 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
  font-weight: 600;
}
:-moz-placeholder {
  font-weight: 600;
}
::-moz-placeholder {
  font-weight: 600;
}
:-ms-input-placeholder {
  font-weight: 600;
}
::-ms-input-placeholder {
  font-weight: 600;
}
::placeholder {
  font-weight: 600;
}

.is-checkradio[type="checkbox"] + label::after, .is-checkradio[type="checkbox"] + label::after  {
  border-width: 0.25rem!important;
}

.is-margin-right {
  margin-right: 0.5rem;
}

.is-padded-bottom {
  padding-bottom: 2rem;
}

.is-padded-top {
  padding-top: 2rem;
}

.buttons.has-addons {
  justify-content: center;
  .button {
    box-shadow: 0px 10px 20px #00000015;
    min-width: 2.75rem;
    border: none;
    &.has-background-success {
      color: white;
      font-weight: 800;
    }
  }
}

.has-checkradio {
  padding-bottom: 0.5rem;
  .is-checkradio[type="checkbox"].is-white.has-background-color + label::before, .is-checkradio[type="checkbox"].is-white.has-background-color + label::before, .is-checkradio[type="checkbox"].is-white:checked.has-background-color + label::before, .is-checkradio[type="checkbox"].is-white:checked.has-background-color + label::before {
    border-color: #dbdbdb!important;
    border-width: 2px!important;
  }
  p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #dbdbdb!important
}

.select select {
  padding-left: 1rem;
  border-radius: 35px;
}

.is-flex-centered {
  justify-content: center!important;
}

span {
  &.is-hidden-touch {
    padding-right: 0.25rem;
  }
}

.hero {
  height: 100%;
}

.has-text-facebook {
  color: #3b5998!important;
}

.has-text-twitter {
  color: #1da1f2!important;
}

.has-text-whatsapp {
  color: #00e676!important;
}

.has-margin-top {
  margin-top: 0.25rem;
}
.dialog-invite {
  div {
    text-align: left;
    margin-top: 0.25rem;
    label {
      display: inline-block;
      min-width: 100px;
    }
  }
}

.tabs.is-marginless {
  ul {
    margin-right: 2rem;
  }
  .is-boxed {
    a {
      border-radius: 10px 10px 0 0;
    }
  }
}
.board-assistant {
  .tabs.is-boxed li.is-active a {
    background-color: #edebe9;
  }
}
/* spinner */

.spinner-background {
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 99;
  background-color: #edebe9;
}

.spinner-container {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  width:36px; height:36px;
  margin: 36px auto;
  .path {
    stroke-dasharray: 1,150; /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(27, 154, 89, 0.7);
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
  }
}

.is-vexpanded {
  min-height: 100%;
}

.hidden-loading {
  display: none;
}

.icon {
  &.has-margin {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1.5rem;
  }
}

/* menu */

.menu {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 90;
  height: 60px;
  background-color: #edebe9;
  transition: background-color 0.25 linear;

  .menu-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
  }

  .menu-logo {
    display: inline-block;
    margin-top: 4px;
    position: relative;
    z-index: 9;
    img {
      max-height: 3.75rem;
    }
  }

  .menu-container {
    position: relative;
    max-width: 1080px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 0 !important;

    .is-1 {
      min-width: 75px;
    }

    > .column {
      padding: 0;
      position: relative;
    }
  }

  .menu-primary {
    right: 3.5rem;
    .button {
      padding-left: 0.8em;
      padding-right: 0.8em;
      &:first-child {
        border-color: white;
        padding-left: 1.25em;
        padding-right: 1.25em;
      }
    }
  }

  .menu-secondary {
    display: none;
  }

  .menu-burger {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    right: 2px;
    top: -2px;
    z-index: 100;
    color: white;
    -webkit-user-select: none;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform-origin: center;
            transform-origin: center;

    svg {
      width: 100%;
      height: 100%;
      cursor: pointer;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    
    path {
      fill: none;
      -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      stroke-width: 40px;
      stroke-linecap: round;
      stroke: #333;
      stroke-dashoffset: 0px;
    }
    path#top,
    path#bottom {
      stroke-dasharray: 240px 950px;
    }
    path#middle {
      stroke-dasharray: 240px 240px;
    }
  }

  .menu-burger.cross path#top,
  .menu-burger.cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
  }
  .menu-burger.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
  }

  .menu-bg {
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
    right: 10px;
    top: 16px;
    z-index: 99;
    pointer-events: none;
    -webkit-transition: .3s;
    transition: .3s;
    right: 30px;
    top: 30px;
    -webkit-transform: translate3d(50%, -50%, 0);
            transform: translate3d(50%, -50%, 0);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }

  .menu-items {
    > div {
      margin: auto;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 120px);
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    pointer-events: none;
    position: relative;
    z-index: 100;
  }

  .menu-items img {
    max-height: 5rem;
    height: 5rem;
  }

  .menu-links {
    padding: 0.25rem 1.5rem;
  }

  .menu-items a:not(.button) {
    font-size: 1.25rem;
    color: white;
    display: block;
  }

  .menu-links .icon {
    margin-right: 0.5rem;
  }

  .menu-items a.active {
    color: yellow;
  }

  .menu-items a:not(.button):hover {
    color: yellow;
  }

  .menu-items div {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
  }
}

.menu.active {
  background-color: #ffec01!important;
}

.menu.secondary {
  background-color: white!important;
}

.menu .columns {
  padding: 0;
}

.menu.fs .menu-bg {
  background-color: $menubg;
  -webkit-transform: translate3d(50%, -50%, 0);
          transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

.menu.fs .menu-items {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}

.menu.fs .menu-items div {
  opacity: 1;
}

.columns-centered {
  position: fixed;
  display: inline-grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1rem;
}

.columns-bottom {
  margin-top: auto; 
}

.columns.is-vcentered{
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.logo-emoji {
  font-size: 3.5rem;
}

.is-group-edit {
  h4 {
    margin-top: 1.25rem;
    margin-bottom: 0;
  }
  .groupcode {
    max-width: 180px;
  }
}

.legal-footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  z-index: 1021;
  span {
    color: black;
    font-size: 12px;
  }
}



/* nightmode */

.nightmode{
  background-color: black;
  .navbar,
  .navbar-dropdown,
  .navbar-burger,
  .navbar-menu,
  .navbar-item,
  .navbar-link {
    background-color: black;
  }
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6, 
  p,
  li,
  span {
    color: #f8f8f8;
  }

  blockquote,
  table {
    background-color: #333;
    border-color: #666;
    color: #f8f8f8;
  }  
}

table {
  display: block;
  overflow-x: auto;
  margin: auto;
  width: fit-content;
  max-width: 100%;  
}

.button {
  font-weight: 600;
}

.button.is-text {
  text-decoration: none;
}
 
@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}



/*
.field-body {
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}*/

.showmore {
  height: 300px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); 
  overflow: auto;
}

.mini-button {
  display: block;
  border-radius: 5px;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
}

.chatbox-container {
  border-radius: 4px;
  height: 20rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  .chatbox {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    .chatline {
      clear: both;
      .chatbubble {
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-bottom: 0;
        line-height: 1.25rem;
        padding: 0.25rem 0.5rem;
      }
      .ts {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        clear: both;
      }
    }
  }
}


/*.chatbox {
  height: 205px;
  width: 100%;
  margin-top: 1.25rem;
  overflow-y: auto;
  .box {
    clear: both;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.25rem;
  }
}*/

.is-clickable {
  cursor: pointer;
}

.is-padded {
  padding: 1.5rem;
}


.has-addons {
  margin-bottom: 1rem;
}

.is-white-pieces {
  background-image: url(/img/chesspieces/cburnett/wN.png);
  background-repeat: no-repeat;
  background-position: 7px -2px;
  background-size: 90%;
}

.is-black-pieces {
  background-image: url(/img/chesspieces/cburnett/bN.png);
  background-repeat: no-repeat;
  background-position: -2px -2px;
  background-size: 90%;
}

.is-random-pieces {
  background-image: url(/img/chesspieces/cburnett/wN.png),url(/img/chesspieces/cburnett/bN.png);
  background-repeat: no-repeat;
  background-position: 6px 6px, 0px 5px;
  background-size: 90%, 90%;
}

.pagination {
  margin-bottom: 1.5rem;
}

.shrink-th th {
  height: 2px;
  font-size: 1px;
}

.pagination-link {
  height: 1.25rem;
  width: 0.75rem;
  min-width: 0.75rem;
}

.spinner-content {
  opacity: 0;
}

.is-semitransparent {
  opacity: 0.5;
}

#gamecount {
  padding: 0.25rem 1rem;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right:0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;  
}

.game-loading {
  position: absolute;
  z-index: 99;  
  width: 100%;
  height: 100%;
  background-color: #edebe9;
}

#nightmode-indicator {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
}

.winnercup {
  position: relative;
  top: 3rem;
  left: -3rem;
}

.splash {
  display: inline-block;
  width: 100%;
  height: 30vh;
}

#anchor {
  min-height: 4.5rem;
  img {
    max-height: 2.75rem;
    margin: 0.75rem;
    margin-bottom: 0;
  }
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}

.fadeOut {
  transition: opacity .5s ease-in-out;
  transition-delay: .75s;
  opacity: 0;
}

@keyframes fadeInUp{
  from{
    opacity:0;
    -webkit-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0)
  }
  to{
    opacity:1;
    -webkit-transform:none;
    transform:none
  }
}

.fadeInUp{
  -webkit-animation-name:fadeInUp;
  animation-name:fadeInUp
}

.fadeMoveDown{
  -webkit-animation-name:fadeMoveDown;
  animation-name:fadeMoveDown;
  animation-delay: 5s;
}

@keyframes fadeMoveDown{
  0%{
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    opacity:1
  }
  50%{
    opacity:0.5
  }
  100%{
    -webkit-transform:translate(0,-100vh);
    transform:translate(0,-100vh);
    opacity:0
  }
}

.slideIn {
  opacity:0;
  animation:1s cubic-bezier(1, -0.5, 0.5, 1) .1s normal forwards 1 slideIn;
}

@keyframes slideIn{
  from{
    opacity:0;
    -webkit-transform:translate3d(0,10%,0);
    transform:translate3d(0,10%,0)
  }
  to{
    opacity:1;
    -webkit-transform:none;
    transform:none
  }
}

.slideDown {
  opacity:0;
  animation:1s cubic-bezier(1, -0.5, 0.5, 1) .1s normal forwards 1 slideDown;
}

@keyframes slideDown{
  from{
    opacity:0;
    -webkit-transform:translate3d(0,-20%,0);
    transform:translate3d(0,-20%,0)
  }
  to{
    opacity:1;
    -webkit-transform:none;
    transform:none
  }
}

.slideOutTL {
  opacity:1;
  animation:1s cubic-bezier(1, -0.5, 0.5, 1) .1s normal forwards 1 slideOutTL;
}

@keyframes slideOutTL{
  from{
    opacity:1;
    -webkit-transform:none;
    transform:none

  }
  to{
    opacity:0;
    -webkit-transform:translate3d(-100%,-100%,0);
    transform:translate3d(-100%,-100%,0)
  }
}

.slideOutTR {
  opacity:1;
  animation:1s cubic-bezier(1, -0.5, 0.5, 1) .1s normal forwards 1 slideOutTR;
}

@keyframes slideOutTR{
  from{
    opacity:1;
    -webkit-transform:none;
    transform:none

  }
  to{
    opacity:0;
    -webkit-transform:translate3d(100%,-100%,0);
    transform:translate3d(100%,-100%,0)
  }
}

.slideOutB {
  opacity:1;
  animation:1s cubic-bezier(1, -0.5, 0.5, 1) .1s normal forwards 1 slideOutB;
}

@keyframes slideOutB{
  from{
    opacity:1;
    -webkit-transform:none;
    transform:none

  }
  to{
    opacity:0;
    -webkit-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0)
  }
}

.fadeIn {
  animation:.15s ease 0s normal forwards 1 fadeIn;
  -webkit-animation:.75s ease 0s normal forwards 1 fadeIn;
  opacity:0
}

.fadeIn:nth-child(1) {
  animation-delay: 0;  
}

.fadeIn:nth-child(2) {
  animation-delay: .1s;  
}

.fadeIn:nth-child(3) {
  animation-delay: .2s;  
}

.fadeIn:nth-child(4) {
  animation-delay: .3s;  
}

.fadeIn:nth-child(5) {
  animation-delay: .4s;  
}

.fadeIn:nth-child(6) {
  animation-delay: .5s;  
}

.fadeIn:nth-child(7) {
  animation-delay: .5s;  
}

.fadeIn:nth-child(8) {
  animation-delay: .7s;  
}

.fadeIn:nth-child(9) {
  animation-delay: .8s;  
}

.fadeIn:nth-child(10) {
  animation-delay: .9s;  
}

.fadeIn:nth-child(11) {
  animation-delay: 1s;  
}

.fadeIn:nth-child(12) {
  animation-delay: 1.1s;  
}

.fadeIn:nth-child(13) {
  animation-delay: 1.1s;  
}

.fadeIn:nth-child(14) {
  animation-delay: 1.1s;  
}

@keyframes fadeIn{
  0%{opacity:0}
  80%{opacity:0}
  100%{opacity:1}
}

@keyframes contrastIn{
  0%{filter: saturate(10%);}
  80%{filter: saturate(50%);}
  100%{filter: saturate(100%);}
}

.swal-overlay {
  background-color: rgba(200, 200, 200, 0.5);
}
.swal-button:focus {
  box-shadow: none;
}
.swal-title {
  margin-top: 1rem;
}
.swal-button {
  border-radius: 30px;
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
.swal-icon {
  display: none;
}


/* bulma hacks */

@media screen and (min-width:1024px) {
    .container{
        max-width:960px
    }
}
@media screen and (max-width:1215px) {
    .container.is-widescreen{
        max-width:1080px
    }
}
@media screen and (max-width:1407px) {
    .container.is-fullhd{
        max-width:1280px
    }
}
@media screen and (min-width:1216px) {
    .container{
        max-width:1080px
    }
}
@media screen and (min-width:1408px) {
    .container{
        max-width:1280px
    }
}

@media screen and (max-width: 440px) {
 .menu.fs .menu-bg {
   width: 300vh;
   height: 300vh;
 }
}

@media screen and (min-width: 759px) {
  .no-players {
    .is-lobby-list {
      max-width: 260px;
      opacity: 0.25;
      background-image: url('/img/monograma.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .chatbox {
      filter: contrast(150%) brightness(125%);
      background-image: url('/img/chat_bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  
  .field {
    margin-bottom: 0.25rem;
  }
  
  .swal-modal {
    border-radius: 25px;
  }

  .box {
    border-radius: 25px;
  }

  .is-horizontal {
    .field-body {
      &:not(:first-child) {
       padding-left: 0.5rem;
      }
    }
  }
}

.footprint {
  padding: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .footprint {
    position: fixed;
    bottom: 0;
    right: 1rem;
  }

  .chatbox-container {
    height: 60vh;
    max-height: 60vh;
  }
  .swal-modal {
    &.is-wide {
      width: 90%;
      max-width: 750px;
    }
  }
}

@media screen and (min-width: 1440px), print {
  .container.is-widescreen {
    max-width: 90%;
  }
  .menu-container {
    max-width: 90%; 
  }
}

@include desktop {
  .has-text-aligned {
    > .column {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        text-align: left;
      }
    }
  }
}