@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Signika');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #404040;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Signika", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$box-shadow: none;
//$table-color:white;
//$table-background-color:$brown;
//$table-cell-heading-color:white!important;
//$table-head-cell-color:white;
//$table-foot-cell-color:white;
//$table-head-background-color:$brown;
//$table-body-background-color:$brown;
//$table-striped-row-even-background-color:$brown;
//$table-striped-row-even-hover-background-color:$brown;

// Update some of Bulma's component variables
//$body-background-color: $brown;
//$body-color: $beige-lighter;
//$navbar-background-color:$beige-lighter;
$control-border-width: 2px;
//$input-border-color: transparent;
$tabs-toggle-link-radius: 10px;
$tabs-boxed-link-radius: 10px;
$input-shadow: none;
$danger: #ff5722;
$info: #5f6caf;
$warning: #f6d743;
$success: #21bf73;
$table-background-color: transparent;
$table-striped-row-even-background-color:#f3f3f3;
@import '~bulma/bulma';