.landing {
  h1, h2, h3, h4, .label {
    text-shadow: 0 0 0.25rem #ffffffcc;
  }

  #search {
    .has-addons {
      margin-bottom: 1.25rem;
    }
  }

  body.fs .area {
    top: 0;
  }

  .fakeboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    filter: contrast(150%) brightness(75%);
    .board-b72b1 {
      filter: blur(2px);
      background-repeat: repeat!important;
      background-size: 85%!important;
      width: 100%;
      height: 100%;
    }
  }

  .pieces {
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    li {
      width: 9rem;
      height: 9rem;
      display: block;
      position: absolute;
      list-style: none;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;

      &.white {
        top: -16rem;
        animation: sink 60s linear infinite;
      }

      &.black {
        bottom: -16rem;
        animation: emerge 60s linear infinite;
      }

      &:nth-child(1) {
        left: 25%;
        background-image: url('/img/chesspieces/cburnett/wK.png');
        animation-delay: 5s;
      }

      &:nth-child(2) {
        left: 10%;
        background-image: url('/img/chesspieces/cburnett/wQ.png');
        animation-delay: 1s;
        animation-duration: 30s;
      }

      &:nth-child(3) {
        left: 70%;
        background-image: url('/img/chesspieces/cburnett/wR.png');
        animation-delay: 7s;
      }

      &:nth-child(4) {
        left: 40%;
        background-image: url('/img/chesspieces/cburnett/wB.png');
        animation-delay: 15s;
        animation-duration: 40s;
      }

      &:nth-child(5) {
        left: 65%;
        background-image: url('/img/chesspieces/cburnett/wN.png');
        animation-delay: 45s;
      }

      &:nth-child(6) {
        left: 75%;
        background-image: url('/img/chesspieces/classic/wP.png');
        animation-delay: 35s;
      }

      &:nth-child(7) {
        left: 35%;
        background-image: url('/img/chesspieces/cburnett/bK.png');
        animation-delay: 25s;
      }

      &:nth-child(8) {
        left: 50%;
        background-image: url('/img/chesspieces/cburnett/bQ.png');
        animation-delay: 10s;
        animation-duration: 55s;
      }

      &:nth-child(9) {
        left: 20%;
        background-image: url('/img/chesspieces/cburnett/bR.png');
        animation-delay: 6s;
        animation-duration: 65s;
      }

      &:nth-child(10) {
        left: 85%;
        background-image: url('/img/chesspieces/cburnett/bB.png');
        animation-delay: 3s;
        animation-duration: 55s;
      }

      &:nth-child(11) {
        left: 15%;
        background-image: url('/img/chesspieces/cburnett/bN.png');
        animation-delay: 8s;
        animation-duration: 45s;
      }

      &:nth-child(12) {
        left: 50%;
        background-image: url('/img/chesspieces/cburnett/bP.png');
        animation-delay: 4s;
        animation-duration: 35s;
      }
    }
  }
}

@keyframes emerge {
  0%{
    transform: translateY(0) rotate(0deg);
  }

  100%{
    transform: translateY(-1500px) rotate(720deg);
  }
}

@keyframes sink {
  0%{
    transform: translateY(0) rotate(720deg);
  }

  100%{
    transform: translateY(1500px) rotate(0deg);
  }
}

@include desktop {
  .landing {
    .box {
      box-shadow: 0px 10px 20px #00000015;
    }
    .area {
      display: inline-flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 60px;
      bottom: 0;
      padding: 0 2rem;
      background-color: transparent;

      > .columns {
        width: 100%;
        margin: auto 0;
      } 
    }
  }
}
