
/* themes */

.classic {
    .board-b72b1 {
        background: url(/img/boards/classic.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color: #b58863;
    }
    .black-3c85d {
        color: #f0d9b5;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #f0d9b5;
        color: #b58863;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #b58863;
        color: #f0d9b5;
    }
    .score-container {
        background-color: #f0d9b5;
        .score {
            background-color: #b58863;
        }
    }
    .chart-container {
        .white {
            background-color: #b58863;
            polygon {
                fill: #f0d9b5;
            }
        }
        .black {
            background-color: #f0d9b5;
            polygon {
                fill: #b58863;
            }
        }
    }
}

.bases {
    .board-b72b1 {
        background: url(/img/boards/bases.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#d3a36a;
    }
    .black-3c85d {
        color:#edc9a2;
    }
    .bar,  .moveRow, .moveRow a, .movew {
        background-color: #edc9a2;
        color:#d3a36a;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #d3a36a;
        color:#edc9a2;
    }
    .score-container {
        background-color: #edc9a2;
        .score {
            background-color: #d3a36a;
        }
    }
    .chart-container {
        .white {
            background-color: #d3a36a;
            polygon {
                fill: #edc9a2;
            }
        }
        .black {
            background-color: #edc9a2;
            polygon {
                fill: #d3a36a;
            }
        }
    }
}

.bit {
    .board-b72b1 {
        background: url(/img/boards/bit.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#6a9b41;
    }
    .black-3c85d {
        color:#f3f3f4;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #f3f3f4;
        color:#6a9b41;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #6a9b41;
        color:#f3f3f4;
    }
    .score-container {
        background-color: #f3f3f4;
        .score {
            background-color: #6a9b41;
        }
    }
    .chart-container {
        .white {
            background-color: #6a9b41;
            polygon {
                fill: #f3f3f4;
            }
        }
        .black {
            background-color: #f3f3f4;
            polygon {
                fill: #6a9b41;
            }
        }
    }
}

.blue {
    .board-b72b1 {
        background: url(/img/boards/blue.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#4b7399;
    }
    .black-3c85d {
        color:#eae9d2;
    }
    .bar,  .moveRow, .moveRow a, .movew {
        background-color: #eae9d2;
        color:#4b7399;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #4b7399;
        color:#eae9d2;
    }
    .score-container {
        background-color: #eae9d2;
        .score {
            background-color: #4b7399;
        }
    }
    .chart-container {
        .white {
            background-color: #4b7399;
            polygon {
                fill: #eae9d2;
            }
        }
        .black {
            background-color: #eae9d2;
            polygon {
                fill: #4b7399;
            }
        }
    }
}

.bubblegum {
    .board-b72b1 {
        background: url(/img/boards/bubblegum.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#fcd8dd;
    }
    .black-3c85d {
        color:#ffffff;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #ffffff;
        color:#fcd8dd;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #fcd8dd;
        color:#ffffff;
    }
    .score-container {
        background-color: #f8f8f8;
        .score {
            background-color: #fcd8dd;
        }
    }
    .chart-container {
        .white {
            background-color: #fcd8dd;
            polygon {
                fill: #ffffff;
            }
        }
        .black {
            background-color: #ffffff;
            polygon {
                fill: #fcd8dd;
            }
        }
    }
}

.burled_wood {
    .board-b72b1 {
        background: url(/img/boards/burled_wood.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#6d3a20;
    }
    .black-3c85d {
        color:#c2a068;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #c2a068;
        color:#6d3a20;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #6d3a20;
        color:#c2a068;
    }
    .score-container {
        background-color: #c2a068;
        .score {
            background-color: #6d3a20;
        }
    }
    .chart-container {
        .white {
            background-color: #6d3a20;
            polygon {
                fill: #c2a068;
            }
        }
        .black {
            background-color: #c2a068;
            polygon {
                fill: #6d3a20;
            }
        }
    }
}

.dark_wood {
    .board-b72b1 {
        background: url(/img/boards/dark_wood.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#6d3a20;
    }
    .black-3c85d {
        color:#c2a068;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #c2a068;
        color:#6d3a20;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #6d3a20;
        color:#c2a068;
    }
    .score-container {
        background-color: #c2a068;
        .score {
            background-color: #6d3a20;
        }
    }
    .chart-container {
        .white {
            background-color: #6d3a20;
            polygon {
                fill: #c2a068;
            }
        }
        .black {
            background-color: #c2a068;
            polygon {
                fill: #6d3a20;
            }
        }
    }
}

.dash {
    .board-b72b1 {
        background: url(/img/boards/dash.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#79412e;
    }
    .black-3c85d {
        color:#be925a;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #be925a;
        color:#79412e;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #79412e;
        color:#be925a;
    }
    .score-container {
        background-color: #be925a;
        .score {
            background-color: #79412e;
        }
    }
    .chart-container {
        .white {
            background-color: #79412e;
            polygon {
                fill: #be925a;
            }
        }
        .black {
            background-color: #be925a;
            polygon {
                fill: #79412e;
            }
        }
    }
}

.fantasy {
    .board-b72b1 {
        background: url(/img/boards/fantasy.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color: #f0a820;
    }
    .black-3c85d {
        color: #8f3a97;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #8f3a97;
        color: #f0a820;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #f0a820;
        color: #8f3a97;
    }
    .score-container {
        background-color: #f0a820;
        .score {
            background-color: #8f3a97;
        }
    }
    .chart-container {
        .white {
            background-color: #8f3a97;
            polygon {
                fill: #f0a820;
            }
        }
        .black {
            background-color: #f0a820;
            polygon {
                fill: #8f3a97;
            }
        }
    }
}


.glass {
    .board-b72b1 {
        background: url(/img/boards/glass.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#29303e;
    }
    .black-3c85d {
        color:#717b8e;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #717b8e;
        color:#29303e;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #29303e;
        color:#717b8e;
    }
    .score-container {
        background-color: #717b8e;
        .score {
            background-color: #29303e;
        }
    }
    .chart-container {
        .white {
            background-color: #29303e;
            polygon {
                fill: #717b8e;
            }
        }
        .black {
            background-color: #717b8e;
            polygon {
                fill: #29303e;
            }
        }
    }
}

.graffiti {
    .board-b72b1 {
        background: url(/img/boards/graffiti.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#b18653;
    }
    .black-3c85d {
        color:#a7a7a7;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #a7a7a7;
        color:#b18653;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #b18653;
        color:#a7a7a7;
    }
    .score-container {
        background-color: #a7a7a7;
        .score {
            background-color: #b18653;
        }
    }
    .chart-container {
        .white {
            background-color: #b18653;
            polygon {
                fill: #a7a7a7;
            }
        }
        .black {
            background-color: #a7a7a7;
            polygon {
                fill: #b18653;
            }
        }
    }
}

.green {
    .board-b72b1 {
        background: url(/img/boards/green.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#769656;
    }
    .black-3c85d {
        color:#eeeed2;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #eeeed2;
        color:#769656;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #769656;
        color:#eeeed2;
    }
    .score-container {
        background-color: #eeeed2;
        .score {
            background-color: #769656;
        }
    }
    .chart-container {
        .white {
            background-color: #769656;
            polygon {
                fill: #eeeed2;
            }
        }
        .black {
            background-color: #eeeed2;
            polygon {
                fill: #769656;
            }
        }
    }
}

.green_plastic {
    .board-b72b1 {
        background: url(/img/boards/green_plastic.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#769656;
    }
    .black-3c85d {
        color:#f1f6b2;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #f1f6b2;
        color:#59935d;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #59935d;
        color:#f1f6b2;
    }
    .score-container {
        background-color: #f1f6b2;
        .score {
            background-color: #59935d;
        }
    }
    .chart-container {
        .white {
            background-color: #59935d;
            polygon {
                fill: #f1f6b2;
            }
        }
        .black {
            background-color: #f1f6b2;
            polygon {
                fill: #59935d;
            }
        }
    }
}

.ocean {
    .board-b72b1 {
        background: url(/img/boards/ocean.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#7598ad;
    }
    .black-3c85d {
        color:#d7e2e8;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #d7e2e8;
        color:#7598ad;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #7598ad;
        color:#d7e2e8;
    }
    .score-container {
        background-color: #d7e2e8;
        .score {
            background-color: #7598ad;
        }
    }
    .chart-container {
        .white {
            background-color: #7598ad;
            polygon {
                fill: #d7e2e8;
            }
        }
        .black {
            background-color: #d7e2e8;
            polygon {
                fill: #7598ad;
            }
        }
    }
}

.lolz {
    .board-b72b1 {
        background: url(/img/boards/lolz.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#63696a;
    }
    .black-3c85d {
        color:#dfe9e9;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #dfe9e9;
        color:#63696a;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #63696a;
        color:#dfe9e9;
    }
    .score-container {
        background-color: #dfe9e9;
        .score {
            background-color: #63696a;
        }
    }
    .chart-container {
        .white {
            background-color: #63696a;
            polygon {
                fill: #dfe9e9;
            }
        }
        .black {
            background-color: #dfe9e9;
            polygon {
                fill: #63696a;
            }
        }
    }
}

.marble {
    .board-b72b1 {
        background: url(/img/boards/marble.jpg) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#a35e44;
    }
    .black-3c85d {
        color:#dec7a2;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #dec7a2;
        color:#a35e44;
    }
    .bar-progress, .moveb, .moveb a  {
        background-color: #a35e44;
        color:#dec7a2;
    }
    .score-container {
        background-color: #dec7a2;
        .score {
            background-color: #a35e44;
        }
    }
    .chart-container {
        .white {
            background-color: #a35e44;
            polygon {
                fill: #dec7a2;
            }
        }
        .black {
            background-color: #dec7a2;
            polygon {
                fill: #a35e44;
            }
        }
    }
}

.metal {
    .board-b72b1 {
        background: url(/img/boards/metal.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#555855;
    }
    .black-3c85d {
        color:#fbfbfb;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #fbfbfb;
        color:#555855;
    }
    .bar-progress, .moveb, .moveb a  {
        background-color: #555855;
        color:#fbfbfb;
    }
    .score-container {
        background-color: #fbfbfb;
        .score {
            background-color: #555855;
        }
    }
    .chart-container {
        .white {
            background-color: #555855;
            polygon {
                fill: #fbfbfb;
            }
        }
        .black {
            background-color: #fbfbfb;
            polygon {
                fill: #555855;
            }
        }
    }
}

.neon {
    .board-b72b1 {
        background: url(/img/boards/neon.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#5c5451;
    }
    .black-3c85d {
        color:#bcbdbd;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #bcbdbd;
        color:#5c5451;
    }
    .bar-progress, .moveb, .moveb a  {
        background-color: #5c5451;
        color:#bcbdbd;
    }
    .score-container {
        background-color: #bcbdbd;
        .score {
            background-color: #5c5451;
        }
    }
    .chart-container {
        .white {
            background-color: #5c5451;
            polygon {
                fill: #bcbdbd;
            }
        }
        .black {
            background-color: #bcbdbd;
            polygon {
                fill: #5c5451;
            }
        }
    }
}

.newspaper {
    .board-b72b1 {
        background: url(/img/boards/newspaper.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#4d4d4d;
    }
    .black-3c85d {
        color:#cdcbc2;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #cdcbc2;
        color:#4d4d4d;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #4d4d4d;
        color: #cdcbc2;
    }
    .score-container {
        background-color: #cdcbc2;
        .score {
            background-color: #4d4d4d;
        }
    }
    .chart-container {
        .white {
            background-color: #4d4d4d;
            polygon {
                fill: #cdcbc2;
            }
        }
        .black {
            background-color: #cdcbc2;
            polygon {
                fill: #4d4d4d;
            }
        }
    }
}

.orange {
    .board-b72b1 {
        background: url(/img/boards/orange.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#d08b18;
    }
    .black-3c85d {
        color:#fce4b2;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #fce4b2;
        color:#d08b18;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #d08b18;
        color:#fce4b2;
    }
    .score-container {
        background-color: #fce4b2;
        .score {
            background-color: #d08b18;
        }
    }
    .chart-container {
        .white {
            background-color: #d08b18;
            polygon {
                fill: #fce4b2;
            }
        }
        .black {
            background-color: #fce4b2;
            polygon {
                fill: #d08b18;
            }
        }
    }
}

.overlay {
    .board-b72b1 {
        background: url(/img/boards/overlay.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#e1e1e1;
    }
    .black-3c85d {
        color:#e8e8e8;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #e8e8e8;
        color:#e1e1e1;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #e1e1e1;
        color:#e8e8e8;
    }
    .score-container {
        background-color: #e8e8e8;
        .score {
            background-color: #e1e1e1;
        }
    }
    .chart-container {
        .white {
            background-color: #e1e1e1;
            polygon {
                fill: #e8e8e8;
            }
        }
        .black {
            background-color: #e8e8e8;
            polygon {
                fill: #e1e1e1;
            }
        }
    }
}

.parchment {
    .board-b72b1 {
        background: url(/img/boards/parchment.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#97783b;
    }
    .black-3c85d {
        color:#d8d4af;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #d8d4af;
        color:#97783b;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #97783b;
        color:#d8d4af;
    }
    .score-container {
        background-color: #d8d4af;
        .score {
            background-color: #97783b;
        }
    }
    .chart-container {
        .white {
            background-color: #97783b;
            polygon {
                fill: #d8d4af;
            }
        }
        .black {
            background-color: #d8d4af;
            polygon {
                fill: #97783b;
            }
        }
    }
}

.pink {
    .board-b72b1 {
        background: url(/img/boards/pink.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#f07272;
    }
    .black-3c85d {
        color:#e8e9b7;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #e8e9b7;
        color:#f07272;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #f07272;
        color:#e8e9b7;
    }
    .score-container {
        background-color: #e8e9b7;
        .score {
            background-color: #f07272;
        }
    }
    .chart-container {
        .white {
            background-color: #f07272;
            polygon {
                fill: #e8e9b7;
            }
        }
        .black {
            background-color: #e8e9b7;
            polygon {
                fill: #f07272;
            }
        }
    }
}

.purple {
    .board-b72b1 {
        background: url(/img/boards/purple.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#8877b7;
    }
    .black-3c85d {
        color:#efefef;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #efefef;
        color:#8877b7;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #8877b7;
        color:#efefef;
    }
    .score-container {
        background-color: #efefef;
        .score {
            background-color: #8877b7;
        }
    }
    .chart-container {
        .white {
            background-color: #8877b7;
            polygon {
                fill: #efefef;
            }
        }
        .black {
            background-color: #efefef;
            polygon {
                fill: #8877b7;
            }
        }
    }
}

.red {
    .board-b72b1 {
        background: url(/img/boards/red.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#ba5546;
    }
    .black-3c85d {
        color:#f0d8bf;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #f0d8bf;
        color:#ba5546;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #ba5546;
        color:#f0d8bf;
    }
    .score-container {
        background-color: #f0d8bf;
        .score {
            background-color: #ba5546;
        }
    }
    .chart-container {
        .white {
            background-color: #ba5546;
            polygon {
                fill: #f0d8bf;
            }
        }
        .black {
            background-color: #f0d8bf;
            polygon {
                fill: #ba5546;
            }
        }
    }
}

.sand {
    .board-b72b1 {
        background: url(/img/boards/sand.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#998574;
    }
    .black-3c85d {
        color:#e5d5c6;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #e5d5c6;
        color:#998574;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #998574;
        color:#e5d5c6;
    }
    .score-container {
        background-color: #e5d5c6;
        .score {
            background-color: #998574;
        }
    }
    .chart-container {
        .white {
            background-color: #998574;
            polygon {
                fill: #e5d5c6;
            }
        }
        .black {
            background-color: #e5d5c6;
            polygon {
                fill: #998574;
            }
        }
    }
}

.sky {
    .board-b72b1 {
        background: url(/img/boards/sky.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#c4d4e4;
    }
    .black-3c85d {
        color:#efefef;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #efefef;
        color:#c4d4e4;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #c4d4e4;
        color:#efefef;
    }
    .score-container {
        background-color: #efefef;
        .score {
            background-color: #c4d4e4;
        }
    }
    .chart-container {
        .white {
            background-color: #c4d4e4;
            polygon {
                fill: #efefef;
            }
        }
        .black {
            background-color: #efefef;
            polygon {
                fill: #c4d4e4;
            }
        }
    }
}

.stone {
    .board-b72b1 {
        background: url(/img/boards/stone.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#393736;
    }
    .black-3c85d {
        color:#aba7a1;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #aba7a1;
        color:#393736;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #393736;
        color:#aba7a1;
    }
    .score-container {
        background-color: #aba7a1;
        .score {
            background-color: #393736;
        }
    }
    .chart-container {
        .white {
            background-color: #393736;
            polygon {
                fill: #aba7a1;
            }
        }
        .black {
            background-color: #aba7a1;
            polygon {
                fill: #393736;
            }
        }
    }
}

.tan {
    .board-b72b1 {
        background: url(/img/boards/tan.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#ceae5d;
    }
    .black-3c85d {
        color:#e9d29b;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #e9d29b;
        color:#ceae5d;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #ceae5d;
        color:#e9d29b;
    }
    .score-container {
        background-color: #e9d29b;
        .score {
            background-color: #ceae5d;
        }
    }
    .chart-container {
        .white {
            background-color: #ceae5d;
            polygon {
                fill: #e9d29b;
            }
        }
        .black {
            background-color: #e9d29b;
            polygon {
                fill: #ceae5d;
            }
        }
    }
}

.tournament {
    .board-b72b1 {
        background: url(/img/boards/tournament.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#32674a;
    }
    .black-3c85d {
        color:#e8e6e3;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #e8e6e3;
        color:#32674a;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #32674a;
        color:#e8e6e3;
    }
    .score-container {
        background-color: #e8e6e3;
        .score {
            background-color: #32674a;
        }
    }
    .chart-container {
        .white {
            background-color: #32674a;
            polygon {
                fill: #e8e6e3;
            }
        }
        .black {
            background-color: #e8e6e3;
            polygon {
                fill: #32674a;
            }
        }
    }
}

.translucent {
    .board-b72b1 {
        background: url(/img/boards/translucent.webp) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#c8c8c8;
    }
    .black-3c85d {
        color:#eaeaea;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #eaeaea;
        color:#c8c8c8;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #c8c8c8;
        color:#eaeaea;
    }
    .score-container {
        background-color: #eaeaea;
        .score {
            background-color: #c8c8c8;
        }
    }
    .chart-container {
        .white {
            background-color: #c8c8c8;
            polygon {
                fill: #eaeaea;
            }
        }
        .black {
            background-color: #eaeaea;
            polygon {
                fill: #c8c8c8;
            }
        }
    }
}

.turquoise {
    .board-b72b1 {
        background: url(/img/boards/turquoise.jpg) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#4779ac;
    }
    .black-3c85d {
        color:#c7d0d9;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #c7d0d9;
        color:#4779ac;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #4779ac;
        color:#c7d0d9;
    }
    .score-container {
        background-color: #c7d0d9;
        .score {
            background-color: #4779ac;
        }
    }
    .chart-container {
        .white {
            background-color: #4779ac;
            polygon {
                fill: #c7d0d9;
            }
        }
        .black {
            background-color: #c7d0d9;
            polygon {
                fill: #4779ac;
            }
        }
    }
}

.walnut {
    .board-b72b1 {
        background: url(/img/boards/walnut.png) no-repeat scroll 0% 0% / 100% 100%
    }
    .white-1e1d7 {
        color:#674933;
    }
    .black-3c85d {
        color:#c0a583;
    }
    .bar, .moveRow, .moveRow a, .movew {
        background-color: #c0a583;
        color:#674933;
    }
    .bar-progress, .moveb, .moveb a {
        background-color: #674933;
        color:#c0a583;
    }
    .score-container {
        background-color: #c0a583;
        .score {
            background-color: #674933;
        }
    }
    .chart-container {
        .white {
            background-color: #674933;
            polygon {
                fill: #c0a583;
            }
        }
        .black {
            background-color: #c0a583;
            polygon {
                fill: #674933;
            }
        }
    }
}